In [ ]:
#1
a = [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [ ]:
#2-1
class Gizmo:
  def __init__(self):
    print('Gizmo id: %d' % id(self))

x = Gizmo()

Gizmo id: 133116437518800

In [ ]:
#2-2
y = Gizmo() * 10

Gizmo id: 133116435311136

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [ ]:
#2-3
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x']

In [ ]:
#3-1
charles = {'name': 'Charles L. Dodgson', 'born' : 1832}
lewis = charles

In [ ]:
#3-2
lewis is charles

True

In [ ]:
#3-3
id(charles), id(lewis)

(133116418703232, 133116418703232)

In [ ]:
#3-4
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [ ]:
#4-1
alex = {'name' : 'Charles L. Dodgson', 'born' : 1832, 'balance': 950}
alex == charles

True

In [ ]:
#4-2
alex is charles

False

In [ ]:
#5-1
t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
t1 == t2, t1 is t2

(True, False)

In [ ]:
#5-2
id(t1[-1])

133116420235456

In [ ]:
#5-3
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 133116420235456)

In [ ]:
#5-4
t1 == t2

False

In [ ]:
#6-1
l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)

In [ ]:
#6-2
l1.append(100)

In [ ]:
#6-3
l1[1].remove(55)
print("l1: ",l1)
print("l2: ", l2)

l1:  [3, [66, 44], (7, 8, 9), 100]
l2:  [3, [66, 44], (7, 8, 9)]

In [ ]:
#6-4
l2[1] += [33, 22]

In [ ]:
#6-5
l2[2] += (10, 11)

print("l1: ",l1)
print("l2: ", l2)

l1:  [3, [66, 44, 33, 22, 33, 22], (7, 8, 9), 100]
l2:  [3, [66, 44, 33, 22, 33, 22], (7, 8, 9, 10, 11)]

In [ ]:
#7
class Bus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [ ]:
#8-1
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(133116435373840, 133116435376192, 133116435376960)

In [ ]:
#8-2
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [ ]:
#8-3
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(133116417463872, 133116417463872, 133116417404288)

In [ ]:
#9-1
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [ ]:
#9-2
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [ ]:
#10-1
def f(a, b):
  a += b
  return a

In [ ]:
#10-2
a = [1, 2]
b = [3, 4]
f(a, b), (a, b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [ ]:
#10-3
x = 1
y = 2
f(x, y), (x, y)

(3, (1, 2))

In [ ]:
#10-4
t = (10, 20)
u = 30, 40
f(t, u), (t, u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [ ]:
#11
class HauntedBus:
  """유령 승객이 출몰하는 버스 모델"""

  def __init__(self, passengers = []):
    self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [ ]:
#12-1
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [ ]:
#12-2
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [ ]:
#12-3
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [ ]:
#12-4
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [ ]:
#12-5
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [ ]:
#12-6
bus2.passengers is bus3.passengers

True

In [ ]:
#12-7
bus1.passengers

['Bill', 'Charlie']

In [ ]:
#12-8
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [ ]:
#12-9
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [ ]:
#13
class TwilightBus:
  """승객이 사라지게 만드는 버스 모델"""

  def __init__(self, passengers = None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [ ]:
#14
basketball_team = ['Sue', 'Tina', 'Maya', 'Dina', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Dina']

In [ ]:
#15
class TwilightBus:
  """승객이 사라지게 만드는 버스 모델"""

  def __init__(self, passengers = None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [ ]:
#16
basketball_team = ['Sue', 'Tina', 'Maya', 'Dina', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Dina', 'Pat']

In [ ]:
#17-1
import weakref
s1 = {1, 2, 3}
s2 = s1

def bye():
  print('Gone with th wind...')

In [ ]:
#17-2
ender = weakref.finalize(s1, bye)
ender.alive

True

In [ ]:
#17-3
del s1
ender.alive

True

In [ ]:
#17-4
s2 = 'spam'

Gone with th wind...

In [ ]:
#17-5
ender.alive

False